/* colors: #c2e9fc  #e7f6fc*/

:root[data-theme='dark'] {
    --background-image: url('../public/imgLight/1922.png');
    --color: #ffffff;
    --background-color: #1F4D7F;
    --background-color-question: #183b61;
    --background-color-hover-question: #2876ca;
    /* --background-color-steam-score: #183b61; */
    --background-color-question-used:#122c47;
    --background-color-gBack: #0c69a4;
    --background-color-gText: #e0e1e9;
    --background-color-answer: #388043;
    --background-color-text-answer: #ffffff;
}

:root[data-theme='light'] {
    --background-image: url('../public/imgDark/1922.png');
    --color: #1F4D7F;
    --background-color:  #e7e7ec;
    --background-color-question:  #f8f8f8;
    --background-color-hover-question: #dcdce2;
    /* --background-color-steam-score: #dcdce2; */
    --background-color-question-used:#c1c1c4;
    --background-color-gBack: #e0e1e9;
    --background-color-gText: #252833;
    --background-color-answer: #388043;
    --background-color-text-answer: #ffffff;
}

body {
    font-family: 'Arial', sans-serif;
    /* background-color: #F8F9FA; */
    background-image: var(--background-image);
    color: var(--color);
    margin: 0;
    padding: 20px;
    transition: all 300ms ease-in-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: var(--color);
    background-color: var(--background-color);
    align-content: center;
    /* height: 2em; */
    padding: 20px;
    margin-left: 11%;
    margin-right: 11%;
    border-radius: 10px;
    margin-bottom: 30px;
}

#logoNVSU{
    width: 100px;
}
#them{
    display: flex;
    justify-content: center;
}
/* Стили для настройки команд */
.setup {
    text-align: center;
    background-color: var(--background-color);
    padding: 20px;
    margin-left: 11%;
    margin-right: 11%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.teams-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.team-input {
    display: flex;
    /* flex: 1; */
    min-width: 200px;
    padding-right: 20px;
    flex-direction: column;
    width: 100%;
}

.input-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    display: inline-block;
    width: 50%;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    /* width: 100%; */
    margin-top: 5px;
    
}

.button {
    background-color: rgb(12, 108, 146);
    color: #e7e7ec;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-content: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0a59ae;
}

.button.disabled {
    background-color: #0d1539;
    cursor: not-allowed;
}

.button.add {
    background-color: rgba(13, 165, 64, 0);
}

.button.add:hover {
    background-color: rgba(14, 177, 68, 0);
}

.button.add.disabled {
    background-color: rgb(8, 88, 35);
}

.button.restart {
    background-color: rgb(109, 13, 165);
    height: 50px;
}

.button.restart:hover {
    background-color: rgb(117, 14, 177);
}

.button.restart.disabled {
    background-color: rgb(72, 8, 88);
}

.button.remove {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    width: 20px;
    height: 30px;
    background-color: rgba(165, 13, 13, 0);

}

#delBtn{
    /* margin-right: 15px; */
    width: 100px;
    height: 50px;
}
#addTeam{
    width: 130px;
}

/* 
.button.remove:hover {
    background-color: rgb(177, 14, 14);
} */

.button.remove.disabled {
    background-color: rgb(88, 8, 8);
}

.button.start {
    background-color: rgb(13, 104, 165);
}

.button.start:hover {
    background-color: rgb(14, 104, 177);
}

.button.start.disabled {
    background-color: rgb(8, 52, 88);
    cursor: not-allowed;
}

.button-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

/* Стили для игрового поля */
.game-board {
    display: none;
    margin-top: 20px;
}
.question-image-container {
    height: 10em;
   display:flex;
   justify-content: center;
   margin-bottom: 1em;
   padding-top: 0px;
   /* position: absolute; */
   /* width: 0px; */
}

.question-image {
    max-width: 20px;
    max-height: 15px;
    border-radius: 8px;
    border: 2px solid #e94560;
}

.categories {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.category {
    flex: 1;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.category-name {
    font-weight: bold;
    margin-bottom: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question {
    background-color:var(--background-color-question);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.question:hover {
    background-color: var(--background-color-hover-question);
    box-shadow:var(--background-color-hover-border-question);
    transition: all 300ms;
}

.question.used {
    background-color: var(--background-color-question-used);
    color: #666;
    cursor: not-allowed;
}

/* Стили для модального окна с вопросом */
.modal {
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.modal-content {

    background-color: #1F4D7F;
    /* background-image: url('../public/img/modalBack.png'); */
    justify-items: center;
    background-size: cover;
    background-position: top;
    /* padding: 30px; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    /* max-width: 800px; */
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: background-image 0.5s ease;
}

.question-text {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    /* min-height: 100px; */
    padding: 10px;
    background-color:var(--background-color-gBack);
    color: var(--color);
    font-weight: bold;
    border-radius: 10px;
}

.timer {
    font-size: 30px;
    background-color: #e7e7ec;
    color: #195B8B;
    text-align: center;
    margin: 20px 0;
}

.answer {
    font-size: 22px;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--background-color-answer);
    color: var(--background-color-text-answer);
    border-radius: 5px;
    display: none;
}

.teams-score {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 15px;
}

.team-score {
    background-color:var(--background-color-gBack);
    padding: 15px;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
}

.team-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.team-points {
    font-size: 24px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.close-modal {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    width: 0%;
    background: none;
    border: none;
    background-color: #1F4D7F;
    color: #F6F6F6;
    font-size: 24px;
    cursor: pointer;
}


/* Стили для окна победителя */
.winner-content {
    background-image: url('../public/imgLight/winner.png');
    text-align: center;
    max-width: 500px;
}

.winner-info {
    font-size: 24px;
    margin: 20px 0;
    padding: 20px;
    background-color: #1F4D7F;
    border-radius: 10px;
}

#winnerTitle{
    background-color: #F6F6F6;
    color: #1F4D7F;
}